<!doctype html>

<html lang="nb">
<head>
  <meta charset="utf-8">

  <title>Jobbsearch</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="assets/css/main.css">

</head>

<body>

  <div id="app">
    <div class="container">
      <h1 class="mt-2">Den eventyrlige jobbsøkemaskinen</h1>
      <div class="mt-4 mb-4 d-flex">
        <button @click="shuffleJobs()" class="btn btn-secondary">Stokke jobbs</button>
        <div class="input-group w-25 ml-4">
          <div class="input-group-prepend">
            <span class="input-group-text">&#128269;</span>
          </div>
          <input v-model="searchInput" type="text" class="form-control" placeholder="Søk" aria-label="Søk">
        </div>
        <span v-if="searchInput.length > 0" class="ml-4">Du er ut etter: {{reversedSearchInput}}</span>
      </div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
        <job-item
          v-for="job in filteredJobs"
          :job="job"
          :key="job.id"
          v-on:drop-job-item="dropJobItem">
        </job-item>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="assets/js/components/jobitem.js"></script>
  <script src="assets/js/main.js"></script>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
